[flake8]

max-line-length = 89
max-doc-length = 89
indent-size = 4
statistics = True

# Cyclomatic complexity desactivated
# max-complexity = 15 

# Ignore the unused import in __init__.py
per-file-ignores = __init__.py:F401

exclude =
    Commands/sparkle_help/reporting_scenario.py,
    Commands/sparkle_help/sparkle_instances_help.py,
    Commands/sparkle_help/sparkle_slurm_help.py,
    Commands/sparkle_help/sparkle_add_solver_help.py,
    Commands/sparkle_help/sparkle_feature_data_csv_help.py,
    Commands/sparkle_help/sparkle_global_help.py,
    Commands/sparkle_help/sparkle_construct_portfolio_selector_help.py,
    Commands/sparkle_help/sparkle_csv_merge_help.py,
    Commands/sparkle_help/sparkle_system_status_help.py,
    Commands/sparkle_help/sparkle_run_status_help.py,
    Commands/sparkle_help/compute_features_core.py,
    Commands/sparkle_help/sparkle_run_portfolio_selector_help.py,
    Commands/sparkle_help/sparkle_logging.py,
    Commands/sparkle_help/sparkle_configure_solver_help.py,
    Commands/sparkle_help/argparse_custom.py,
    Commands/sparkle_help/sparkle_generate_report_for_configuration_help.py,
    Commands/sparkle_help/sparkle_csv_help.py,
    Commands/sparkle_help/sparkle_command_help.py,
    Commands/sparkle_help/sparkle_run_ablation_help.py,
    Commands/sparkle_help/sparkle_compute_features_help.py,
    Commands/sparkle_help/sparkle_job_help.py,
    Commands/sparkle_help/run_solvers_core.py,
    Commands/sparkle_help/sparkle_settings.py,
    Commands/sparkle_help/sparkle_compute_marginal_contribution_help.py,
    Commands/sparkle_help/sparkle_run_solvers_parallel_help.py,
    Commands/sparkle_help/sparkle_basic_help.py,
    Commands/sparkle_help/sparkle_experiments_related_help.py,
    Commands/sparkle_help/sparkle_performance_data_csv_help.py,
    Commands/sparkle_help/run_sparkle_portfolio_core.py,
    Commands/sparkle_help/sparkle_generate_report_help.py,
    Commands/sparkle_help/sparkle_job_parallel_help.py,
    Commands/sparkle_help/sparkle_compute_features_parallel_help.py,
    Commands/sparkle_help/sparkle_run_solvers_help.py,
    Commands/sparkle_help/sparkle_file_help.py,
    Commands/test,
    Components,
    Configuration_Reports,
    Examples,
    Extractors,
    Feature_Data,
    .git,
    Instances,
    Log,
    Output,
    Performance_Data,
    __pycache__,
    .pytest_cache,
    Records,
    Reference_Lists,
    scratch,
    Solvers,
    Sparkle_Portfolio_Selector,
    Tmp,
    build,
    dist
