[flake8]

max-line-length = 89
max-doc-length = 89
indent-size = 4
statistics = True

multiline-quotes = """
docstring-quotes = """
inline-quotes = "

# Cyclomatic complexity desactivated
# max-complexity = 15 

# Ignore the unused import in __init__.py (F401)
# Asserts needed in test code (S101)
per-file-ignores = __init__.py:F401
                 = tests/*    :S101 
                 = test/*     :S101

docstring-convention=google
# Ignore docstring double quote error
ignore = D300  # Conflicts with docstring-quotes rule
         W503  # Will soon be an anti-pattern: https://www.flake8rules.com/rules/W503.html
         S605  # Flags all spawns of subprocesses, which we can't do without
         S311  # Only relevant for cryptographic purposes
         S607  # No way to locate bin folder beforehand
         S404  # Just a warning about the usage of subprocess
         S603  # Flags only false positives as of now
exclude =
    Components/AutoFolio-master/,
    Components/ablationAnalysis-0.9.4/,
    Components/runsolver/,
    Components/smac-v2.10.03-master-778/,
    Configuration_Reports/,
    Examples/Resources/CVRP/,
    Examples/Resources/CCAG/,
    Examples/Resources/Solvers/CSCCSat/,
    Examples/Resources/Solvers/PbO-CCSAT-Generic/,
    Examples/Resources/Solvers/MiniSAT/,
    Examples/Resources/MinVC/,
    Examples/Resources/Extractors/,
    Extractors/,
    Feature_Data/,
    .git,
    Instances/,
    Log/,
    Output/,
    Performance_Data/,
    __pycache__,
    .pytest_cache,
    Records/,
    Reference_Lists/,
    scratch/,
    Solvers/,
    Sparkle_Portfolio_Selector/,
    Tmp/,
    build/,
    dist/

# use-fstring configurations
percent-greedy=2
format-greedy=2
# enable-extensions=FS003 
fstring-ignore-format=False
