*.pyc
Components/smac-v2.10.03-master-778/*sbatch.sh
Reference_Lists/*
Solvers/*
Extractors/*
Instances/*
Configuration_Reports/*
Feature_Data/*
Performance_Data/*
LOG/*
TMP/*
Feature_Data/*
Sparkle_Portfolio_Selector/*
Tmp/*
Log/*
Output/*
Records/*
Test_Cases/*
Settings/latest.ini
Components/smac-v2.10.03-master-778/log*.txt
Components/smac-v2.10.03-master-778/results/*
Components/smac-v2.10.03-master-778/tmp/*
Components/smac-v2.10.03-master-778/example_scenarios/instances/*
Components/smac-v2.10.03-master-778/example_scenarios/instances_test/*
Components/smac-v2.10.03-master-778/example_scenarios/*/
Components/smac-v2.10.03-master-778/*sbatch.sh
Components/ablationAnalysis-0.9.4/scenarios

# Exclude intermediate files generated when compiling latex
*.aux
*.log
*.out
*.blg
*.eps
Components/Sparkle-latex-generator/Sparkle_Report.pdf
Components/Sparkle-latex-generator/Sparkle_Report.tex
Components/Sparkle-latex-generator/data_portfolio_selector_sparkle_vs_sbs_filename.dat
Components/Sparkle-latex-generator/data_portfolio_selector_sparkle_vs_vbs_filename.dat
Components/Sparkle-latex-generator/figure_portfolio_selector_sparkle_vs_sbs.pdf
Components/Sparkle-latex-generator/figure_portfolio_selector_sparkle_vs_vbs.pdf
Components/Sparkle-latex-generator/Sparkle_Report_for_Test.*

Examples/Resources/CCAG/Solvers/TCA/src/
Examples/Resources/CCAG/Solvers/FastCA/src/
Examples/Resources/CVRP/Solvers/VRP_SISRs/src/
*.json


# Generated documentation 
Documentation/build/
