*.pyc
*.egg-info
Reference_Lists/*
Solvers/*
Extractors/*
Instances/*
Configuration_Reports/*
Configurators/*
Feature_Data/*
Performance_Data/*
LOG/*
TMP/*
Sparkle_Portfolio_Selector/*
Sparkle_Parallel_Portfolio/*
Tmp/*
Log/*
Output/*
Snapshots/*
Test_Cases/*
Settings/latest.ini
Components/ablationAnalysis-0.9.4/scenarios

Examples/Resources/CCAG/Solvers/TCA/src/
Examples/Resources/CCAG/Solvers/FastCA/src/
Examples/Resources/CVRP/Solvers/VRP_SISRs/src/
*.json

# Generated documentation 
Documentation/build/
Documentation/source/_generated/

# Common IDE
.idea
.vscode

# LaTeX stuff

# Exclude intermediate files generated when compiling latex
*.eps
*.bbl
Components/Sparkle-latex-generator/Sparkle_Report.pdf
Components/Sparkle-latex-generator/Sparkle_Report.tex
Components/Sparkle-latex-generator/data_portfolio_selector_sparkle_vs_sbs_filename.dat
Components/Sparkle-latex-generator/data_portfolio_selector_sparkle_vs_vbs_filename.dat
Components/Sparkle-latex-generator/figure_portfolio_selector_sparkle_vs_sbs.dat
Components/Sparkle-latex-generator/figure_portfolio_selector_sparkle_vs_vbs.dat
Components/Sparkle-latex-generator/figure_portfolio_selector_sparkle_vs_sbs.pdf
Components/Sparkle-latex-generator/figure_portfolio_selector_sparkle_vs_vbs.pdf
Components/Sparkle-latex-generator/Sparkle_Report_for_Test.*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
Components/Sparkle-latex-generator-for-parallel-portfolio/Sparkle_Report.pdf
Components/Sparkle-latex-generator-for-parallel-portfolio/Sparkle_Report.bbl
Components/Sparkle-latex-generator-for-parallel-portfolio/Sparkle_Report.tex
Components/Sparkle-latex-generator-for-parallel-portfolio/data_parallel_portfolio_sparkle_vs_sbs_filename.dat
Components/Sparkle-latex-generator-for-parallel-portfolio/data_parallel_portfolio_sparkle_vs_sbs.dat
Components/Sparkle-latex-generator-for-parallel-portfolio/figure_parallel_portfolio_sparkle_vs_sbs.pdf
Components/Sparkle-latex-generator-for-parallel-portfolio/Sparkle_Report_for_Test.*
Components/Sparkle-latex-generator-for-parallel-portfolio/*.plt

## Intermediate documents:
*.dvi
*.xdv

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

#OS created files
*.DS_Store

*.tmp
*.swp
