# Requirements for Sparkle documentation
myst-parser
Sphinx
sphinxcontrib-jsmath
sphinxcontrib-autoprogram
pandas # Also in environment.yml but needed for readthedocs
filelock==3.15.1
RunRunner==0.1.4
pcsparser @ git+https://github.com/jeroenrook/pcsparser.git
sphinx_rtd_theme==2.0.0