name: Lint

on: [pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up Python 3.10.14
      uses: actions/setup-python@v3
      with:
        python-version: '3.10.14'

    - name: Install dependencies
      run: |
        python3 -m venv venv/
        source venv/bin/activate  # Activate the new environment
        pip install -e .[tooling]  # Devtools

    - name: Lint with Ruff
      run: |
        source venv/bin/activate  # Activate venv
        ruff check .

    - name: Archive outputs
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: output
        path: Output/
        retention-days: 5
